* {
  background-color: purple;
}

h1 {
  text-align: center;
  font-family: cursive;
  font-size: 40px;
  
}

.options {
  text-align: center;
}

button {
  background-color: whitesmoke;
  border-radius: 8px;
  font-family: fantasy;
  font-size: 30px;
  margin: 20px;
  padding: 30px;
}

button:hover {
  background-color: red;
}