* {
  background-color: rgb(92, 2, 92);
}

h1 {
  text-align: center;
  font-family: cursive;
  font-size: 40px;
  background-color: darkred;
  margin-top: 0;
  padding: 20px;
  color: rgb(224, 222, 222);
}

.options {
  text-align: center;
}

button {
  background-color: whitesmoke;
  border-radius: 8px;
  font-family: fantasy;
  font-size: 30px;
  margin: 20px;
  padding: 30px;
}

button:hover {
  background-color: darkred;
}

img {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 513px;
  height: 337px;;
}

.versus {
  column-count: 2;
  text-align: center;
  height: 80px;
}

.column2 {
  
}